.contrast-container {
  text-align: center;
  padding: 0;
  margin: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;

  >div {
    text-align: center;
    padding: 0;
    margin: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 100%;
  }

  .contrast-ratio {
    font-size: 60px;
    line-height: 1em;
    font-weight: bold;
  }
}